@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: rgb(142, 241, 220);
    
    padding: 20px;
}

h1{
    font-family: "Montserrat", serif;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 100px;
}

.container{
    max-width: 400px;
    margin: 0 auto;
    background-color: rgb(201, 249, 253);
    padding: 20px;
    border-radius: 10px;
}

p{
    font-family: "Montserrat", serif;
    font-weight: 500;
}

#message{
    margin-bottom: 20px;
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 18px;
}

#guess-input{
    margin-bottom: 10px;
    background-color: rgb(249, 249, 249);
    color: black;
    font-weight: 600;
    width: calc(100% - 10px);
    padding: 10px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(0, 0, 102);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-family: "Montserrat", serif;
    font-weight: 500;
}

button:hover{
    background-color: rgb(0, 0, 51);
}

#restart-button{
    background-color: rgb(153, 0, 0);
    font-family: "Montserrat", serif;
    font-weight: 500;
}

#restart-button:hover{
    background-color: rgb(102, 0, 0);
}